/*p {
	color:#0033CC;
	text-decoration:underline;
}

h1, h3 {
	color:#009933;
	background-color:#DCDCD8;
	text-transform: uppercase;
}*/

h1 {
	margin: 20px;
	padding: 40px;
	border: 5px; 
	border-style: dashed;
	border-color: red;
	text-transform: uppercase;

}

body {
	font-family: sans-serif;
	/*background: white url(http://foureyes.github.io/mtec1002-spring2014/resources/img/lab-13-face.png) repeat top right;*/
	background-color: #E6E6B8;
	font-size: 20px;

}

body a:hover {
	text-transform: uppercase;
}

#intro {
	border: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}

.spotlight {
	background-color: #FEFE22;
}

p, h3 {
	color: #009933;
}